albumentations
dill
hickle
inplace_abn
numpy
opencv-python-headless
pandas
pillow
prodict
pycm
pyyaml
scipy
requests
scikit-image
setuptools
six
tabulate
tini
torch >= 1.6.0
torchvision
tqdm
yacs
wheel